@tailwind base;
@tailwind components;
@tailwind utilities;

/* PWA-specific styles */
@media (display-mode: standalone) {
    body {
        -webkit-user-select: none;
        user-select: none;
    }

    input,
    textarea {
        -webkit-user-select: text;
        user-select: text;
    }
}